/* 공통 네비게이션 */
nav {
  background: none;
  padding: 12px 24px;
  border-bottom: 1px solid whitesmoke;
}

/* 네비게이션 바 */
.nav-bar {
  display: flex;
  justify-content: space-between; /* 로고 왼쪽, 메뉴 오른쪽 */
  align-items: center;
  gap: 20px;
  font-family: "Playfair Display", serif;
}

.logo {
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: olivedrab; /* 니트 감성 브라운 */
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.nav-bar a:hover {
  background: whitesmoke;
  color: palevioletred;
}

/* 로그아웃 버튼 */
.logout-btn {
  background: none;            /* olive 박스 제거 */
  color: red;              /* 다른 메뉴와 동일한 텍스트 색 */
  height: 30px;                /* 로고와 동일한 높이 */
  padding: 0 16px;               /* 좌우 여백만 */
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 1000;
  font-family: "Playfair Display", serif;
  transition: background 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
  background: whitesmoke;        /* hover 시 다른 버튼과 동일 */
  color: palevioletred;          /* hover 텍스트 색도 동일 */
}



/* 게스트 네비게이션 */
.nav-guest {
  background: #fdfcf7;
}

/* 로그인 네비게이션 */
.nav-auth {
  background: #fff7f0;
}

.nav-bar a.active {
  background: pink;
  color: olive;
}

