/* 공통 네비게이션 */
nav {
  background: none;
  padding: 12px 24px;
  border-bottom: 1px solid whitesmoke;
}

/* 네비게이션 바 */
.nav-bar {
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝 정렬 */
  gap: 20px;
  font-family: "Playfair Display", serif;
}

.nav-bar a {
  text-decoration: none;
  color: olivedrab; /* 니트 감성 브라운 */
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.nav-bar a:hover {
  background: whitesmoke;
  color: palevioletred;
}

/* 로그아웃 버튼 */
.logout-btn {
  background: olive;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background: olive;
}

/* 게스트 네비게이션 */
.nav-guest {
  background: #fdfcf7;
}

/* 로그인 네비게이션 */
.nav-auth {
  background: #fff7f0;
}

.nav-bar a.active {
  background: pink;
  color: olive;
}

